/* fix voor ie10 op windowsphone */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* einde fix */

footer {
	background-color: #ffffff;
}

@media (min-width: 975px) { 
	.cross {
		display: none !important;
	}
}

@media (min-width: 975px) { 
	.hamburger {
		display: none !important;
	}
}

@media (max-width: 975px) {
	.hamburger {
		display: block;
		float: right;
		height: 30px;
		width: auto;
		margin-top: 15px;
	}
}

@media (min-width: 975px) { 
	.hamburger-menu {
		display: none !important;
	}
}

body {
	background-color: #F18700;
	background-size: cover;
	min-height: 100vh;
}

.container {
	background-color: #ffffff;
}

.dditem {
	display: none;
}

.jumbotron {
	background-image: url("/images/collage.jpg");
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.logopic {
	vertical-align: center;
}

.navbar {
	display: block;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
}

.navbar a {
	font-size: 1.25em;
}

.nav-item {
	padding: 15px 0 15px 0;
	text-align: center;
}

.nav-item p {
	color: #F18700;
	font-family: Century Gothic, sans-serif;
	padding: 5px;
}