/* fix voor ie10 op windowsphone */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* einde fix */

 @font-face { 
 	font-family: 'NordicRND'; 
 	src: url('PTF-NORDIC-Rnd.ttf'); 
 }

  @font-face { 
 	font-family: Custom; 
 	src: url('customfont.ttf'); 
 }

 
a {
	color: #CF1B19;
}

a:hover {
	text-decoration: none;
}

.footer {
	background-color: #ffffff;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	position: fixed;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-style: solid solid none solid;
	border-width: 2px 2px 0 2px;
	border-color: #CF1B19;
	vertical-align: middle;
	text-align: center;
}

.footer a {
	display: inline-block;
}

h1 {
	color: #f18601;
	text-align: center;
	font-family: Custom, NordicRND, Century Gothic, sans-serif;
	font-size: 2.5em;
}

h2 {
	color: #CF1B19;
	text-align: center;
	font-family: NordicRND, Century Gothic, sans-serif;
	font-size: 1.8em;
}

li {
	font-family: Century Gothic, sans-serif;
}

p {
	font-family: Century Gothic, sans-serif;
	color: #F18601;
}

@media (min-width: 975px) { 
	.cross {
		display: none !important;
	}
}

@media (min-width: 975px) { 
	.hamburger {
		display: none !important;
	}
}

@media (max-width: 975px) {
	.hamburger {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 30px;
		width: auto;
	}
}

@media (min-width: 975px) { 
	.hamburger-menu {
		display: none !important;
	}
}

@media (max-width: 750px) { 
	h1, h2 {
		color: #ffffff !important;
	}
}

@media (max-width: 750px) { 
	a {
		color: #337ab7 !important;
		font-weight: bold;
	}
}

@media (max-width: 750px) { 
	.mail {
		color: #ffffff !important;
	}
}

@media (max-width: 750px) { 
	.tekst {
		color: #ffffff !important;
	}
}

@media (max-width: 750px) { 
	p {
		color: #ffffff;
	}
}

@media (max-width: 750px) { 
	.voorwaardentekst {
		color: #ffffff !important;
	}
}

@media (max-width: 750px) { 
	.fronttekst {
		color: #ffffff !important;
	}
}

@media (max-width: 750px) { 
	.footer-item p {
		color: #F18601;
	}
}

@media (max-width: 750px) { 
	.nav-item p {
		color: #F18601;
	}
}

@media (min-width: 750px) { 
	.container {
		background-color: #ffffff;
		border-radius: 20px;
	}
}

@media (max-width: 975px) { 
	.navibar {
		width: 40%; 
	}
}

@media (max-width: 975px) { 
	.nav-item {
		display: none !important;
	}
}


@media (max-width: 975px) { 
	.footer {
		width: 100%; !important;
		border-radius: 0px;
	}
}

@media (min-width: 750px) { 
	.jumboimg {
		background-color: #ffffff;
	}
}

@media (min-width: 750px) { 
	.jumbotron {
		background-color: #ffffff;
	}
}

@media (max-width: 750px) { 
	.jumbotron {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}

body {
	background: linear-gradient(#F18601, #CF1B19);
	background-color: #F18601;
	background-size: cover;
	min-height: 77vh;
}

.afbeelding {
	height: 20vh;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 10px;
}

.anita {
	display: inline-block;
	max-height: 25vh;
	float: right;
	margin: 20px;
}

.content {
	margin-top: 23vh;
	margin-bottom: 10vh;
	padding: 10px;
}

.cross {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 30px;
		width: auto;
}

/* .dditem {
	display: none;
} */

.drop-down-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 18%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-style: none solid solid solid;
	border-width: 0 2px 2px 2px;
	border-color: #CF1B19;		
	margin-top: -5px;
}

.drop-down-content a:hover {
	background-color: #F18601;
	color: #ffffff;
}

.drop-down:hover .drop-down-content {
	display: block;
}

.fullwidth {
	width: 100% !important;
}

/*.hamburger-menu {
	border-style: none solid solid solid;
	border-width: 0 2px 2px 2px;
	border-color: #F18601;		
}*/

.hamburger-menu-item {
	color: #F18601;
}

.hamburger-menu p {
	color: #F18601;
}

.invis {
	display: none;
}

.jumbotron {
	width: 100%;
	margin-top: 2vh;
	margin-bottom: 0;
	padding: 0px;
	background: transparent;
}

.jumboimg {
	max-height: 250px;
	max-width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;	
}

.fronttekst {
	font-size: 2.5em;
	text-align: center;
	color: #F18601;
}

.fronth1 {
	font-size: 3em;
}

.fronth2 {
	font-size: 1.5em;
	color: #CF1B19;
}

.footer-item {
	padding: 0px;
	text-align: center;
	color: #F18601;
}

.footer-item p {
	color: #F18601;
	font-family: Century Gothic, sans-serif;
	padding: 5px;
}

.logopic {
	vertical-align: center;
	height: 15vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.navibar {
	display: block;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-style: none solid solid solid;
	border-width: 0 2px 2px 2px;
	border-color: #CF1B19;	
}

.navibar a {
	font-size: 1.25em;
}

.navcontainer {
	text-align: center;
}

.highlight {
	background-color: #F18601;
	padding: 0px;
	text-align: center;
	border-radius: 20px;
}

.highlight p {
	color: #ffffff;
	font-family: Century Gothic, sans-serif;
	padding: 5px;	
}

.nav-item {
	padding: 0px;
	text-align: center;
	border-radius: 20px;
}

.nav-item p {
	color: #F18601;
	font-family: Century Gothic, sans-serif;
	padding: 5px;
}

.nav-item:hover .nav-item {
	background-color: #f18601 !important;
}

.nav-item:hover .nav-item p {
	color: #ffffff !important;
}

.tekst {
	text-align: center;
	color: #F18601;
}

.voorwaardentekst {
	text-align: left;
	color: #F18601;
}